<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "animals" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Quiero adoptar</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item"> <a href="/animals">Animales</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Quiero adoptar</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <% if(state){ %>
            <section class="adoption-area-two pt-90 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-65">
                                <div class="section-icon"><img src="img/icon/pawprint.png" alt=""></div>
                                <h5 class="sub-title">Inicia el proceso de adopción</h5>
                                <h2 class="title">Envíanos tus datos</h2>
                                <p>Este es el primer paso, si quieres adoptar a <span>
                                        <%=animal.nombre%>
                                    </span>. Por favor responde a todas las preguntas del formulario que encontrarás a
                                    continuación. Una vez enviadas, desde la fundación revisaremos tu solicitud y te
                                    daremos una respuesta lo antes posible.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container custom-container">

                    <form method="post" id="frmDatos" action="/api/v2/adopterForm" class="needs-validation adopter-form" novalidate>
                        <div class="section-title text-left mb-25">
                            <h5 class="sub-title">Datos de contacto</span></h5>
                        </div>

                        <input type="text" id="idAnimal" hidden name="idAnimal" value="<%=animal.id_animal%>">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Nombre completo</label>
                                <input type="text" maxlength="70" class="form-control" id="name" name="name"
                                    placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Debe ingresar un nombre
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Identificación</label>
                                <input type="number" maxlength="45" class="form-control" id="identification"
                                    name="identification" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Debe ingresar su identificación
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustomUsername">Correo</label>

                                <input type="email" maxlength="90" class="form-control" id="email" name="email"
                                    placeholder="" aria-describedby="inputGroupPrepend">
                                <div class="invalid-feedback">
                                    Debe ingresar un correo válido
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">Ocupación</label>
                                <input type="text" maxlength="90" class="form-control" id="ocupacion" name="ocupacion"
                                    placeholder="" required>

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">Dirección</label>
                                <input type="text" maxlength="90" class="form-control" id="ciudad" name="ciudad"
                                    placeholder="" required>

                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom04">Teléfono fijo</label>
                                <input type="tel" maxlength="7" class="form-control" id="fijo" name="fijo"
                                    placeholder="">
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom05">Teléfono móvil</label>
                                <input type="tel" maxlength="10" class="form-control" id="movil" name="movil"
                                    placeholder="" required>
                                <div class="invalid-feedback">
                                    Debe ingresar un teléfono de contacto
                                </div>
                            </div>
                        </div>


                        <hr>
                        <div class="section-title text-left mb-25 mt-25">
                            <h5 class="sub-title">Datos de la solicitud</span></h5>
                        </div>


                        <% questions.forEach(function(question,index) { %>

                            <% if(question.tipo_pregunta==="abierta" ){ %>
                                <div class="form-group-adopter">
                                    <label for="exampleFormControlInput1">
                                        <%=index+1%>. <%=question.titulo%>
                                    </label>
                                    <input type="text" class="form-control" id="<%=question.id_pregunta%>"
                                        name="questions[<%=question.id_pregunta%>]"
                                        placeholder="ingrese su respuesta aquí" required maxlength="100">
                                    <div class="invalid-feedback">
                                        Debe ingresar una respuesta
                                    </div>
                                </div>
                                <% } else{ %>
                                    <legend class="col-form-label col-12 pt-0 adopter-form-legend">
                                        <%=index+1%>. <%=question.titulo%>
                                    </legend>
                                    <% question.questionOptions.forEach(function(questionOption,index) { %>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                name="questions[m-<%=question.id_pregunta%>]"
                                                id="exampleRadios<%=questionOption.id_opcion%>"
                                                value="<%=questionOption.descripcion%>" required>
                                            <label class="form-check-label"
                                                for="exampleRadios<%=questionOption.id_opcion%>">
                                                <%=questionOption.descripcion%>
                                            </label>
                                            <div class="invalid-feedback">
                                                Debe seleccionar una opción
                                            </div>
                                        </div>
                                        <% }); %>
                                            <% } %>

                                                <% }); %>

                                                    <div class="adopter-form-footer">

                                                        <div class="form-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value=""
                                                                    id="invalidCheck" required>
                                                                <label class="form-check-label" for="invalidCheck">
                                                                    Acepto las políticas de tratamiento de datos de la
                                                                    Fundación Fundamor de Calarcá
                                                                </label>
                                                                <div class="invalid-feedback">
                                                                    Debe aceptar los términos y condiciones
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn rounded-btn">Enviar <i id="load-more-icon" style="margin-left: 8px;display: none;" class="fa fa-spinner fa-spin"></i></button>
                                                    </div>
                    </form>
                </div>
            </section>

            <% } else{ %>
                <p style="margin:45px 15px ">
                    <%=msg%>
                </p>
                <% } %>

    </main>
    <!-- main-area -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>

        <script>

            let loading = false;
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            event.preventDefault();
                            event.stopPropagation();
                            if (form.checkValidity() !== false) {

                                let form = $(this).serialize();

                                if (!loading) {
                                    submitForm(form)
                                }
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();


            function submitForm(form) {
                loading = true;
                $('#load-more-icon').css("display","block");


                $.ajax({
                    method: "POST",
                    url: `/api/v2/adopterForm`,
                    data: form,

                }).done(function (res) {

                    if (res.state) {
                        Swal.fire({
                            title: 'Éxito',
                            text: res.message,
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then((result) => {
                           window.location.replace("http://localhost:4000/animals");
                        })
                    } else {

                        Swal.fire({
                            title: 'Error!',
                            text: res.message,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        })
                    }

                }).fail(function () {
                    Swal.fire({
                        title: 'Error!',
                        text: 'No se ha podido realizar la solicitud, por favor intente mas tarde',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }).always(function () {
                    loading = false;
                    $('#load-more-icon').css("display", "none");

                });
            }

        </script>

</body>

</html>
