<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "animals" }); %>
    </header>


    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Lista de animales</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Lista de animales</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- adoption-shop-area -->
        <section class="adoption-shop-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="section-title text-center mb-65">
                            <div class="section-icon"><img src="img/icon/pawprint.png" alt=""></div>
                            <h5 class="sub-title">Conoce nuestros animales</h5>
                            <h2 class="title">Ellos están esperando ser adoptados</h2>
                            <p>Todos los perros y gatos que son dados en adopción, tienen su esquema de vacunación al
                                día, están desparasitados y algunos son esterilizados.</p>
                        </div>
                    </div>
                </div>




                <div class="row justify-content-center">
                </div>
            </div>
        </section>
        <!-- adoption-shop-area-end -->

        <!-- list area -->
        <div class="shop-area  pb-110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-8 order-2 order-lg-0">
                        <aside class="shop-sidebar">
                            <div class="widget">
                                <div class="sidebar-search">
                                    <form action="#">
                                        <input type="text" placeholder="Busca por nombre">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="widget">
                                <h4 class="sidebar-title">Especie</h4>
                                <div class="shop-cat-list">
                                    <ul>
                                        <li><a href="shop.html">Perro<span>+</span></a></li>
                                        <li><a href="shop.html">Gato<span>+</span></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="widget">
                                <h4 class="sidebar-title">Tamaño</h4>
                                <div class="shop-brand-list">
                                    <ul>
                                        <li><a href="shop.html">Grande</a></li>
                                        <li><a href="shop.html">Mediano</a></li>
                                        <li><a href="shop.html">Pequeño</a></li>
                                   
                                    </ul>
                                </div>
                            </div>
                            <div class="widget">
                                <h4 class="sidebar-title">Filtrar por edad (meses)</h4>
                                <div class="price_filter">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <span>Edad :</span>
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        <input type="submit" class="btn" value="Filtrar">
                                    </div>
                                </div>
                            </div>
                         
                        </aside>
                    </div>
                    <div class="col-lg-9">
                        <div class="shop-wrap">
                         
                            <div class="shop-page-meta mb-30">
                                <div class="shop-grid-menu">
                                    <ul>
                                        <li class="active"><i class="fas fa-paw"></i></li>
                                      
                                    </ul>
                                </div>
                                <div class="shop-showing-result">
                                    <p>Total animales 1-12 de 186</p>
                                </div>
                        
                                <div class="shop-short-by">
                                    <form action="#">
                                        <label for="shortBy">Ordenar</label>
                                        <select id="shortBy" class="selected">
                                            <option value="">Mas antiguos</option>
                                            <option value="">Mas recientes</option>
                              
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="row justify-content-center">


                                <% animals.forEach(function(mascot) { %>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="adoption-shop-item">
                                            <div class="adoption-shop-thumb">
                                                <img src="img/product/adoption_shop_thumb01.jpg" alt="">
                                                <a href="/animals/detail/-id_animal-" class="btn">Adoptar <img src="img/icon/w_pawprint.png" alt=""></a>
                                            </div>
                                            <div class="adoption-shop-content">
                                                <h4 class="title"><a href="/animals/detail/-id_animal-">
                                                        <%=mascot.nombre%>
                                                    </a></h4>
                                                <div class="adoption-meta">
                                                    <ul>
                                                        <li><i class="fas fa-cog"></i>Macho</li>
                                                        <li><i class="far fa-square"></i> Grande</li>
                                                    </ul>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <ul>
                                                 
                                                        <li style="font-size: 13px;font-weight: 500;"> <i class="far fa-calendar-alt" style="margin-right: 5px;"></i>24 Meses (aprox)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                             
                              
                      
                                <!-- <div class="col-lg-4 col-sm-6">
                                    <div class="shop-item mb-55">
                                        <div class="shop-thumb">
                                            <a href="shop-details.html"><img src="img/product/shop_item09.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="shop-content">
                                            <span>Dog toy’s</span>
                                            <h4 class="title"><a href="shop-details.html">Pet Knit Knacks</a></h4>
                                            <div class="shop-content-bottom">
                                                <span class="price">$32.00</span>
                                                <span class="add-cart"><a href="shop-details.html">ADD +</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class=" justify-content-center align-items-center d-flex" >
                           
                            
                        
                            <a href="/animals/detail/-id_animal-" style="border-radius: 15px;" class=" btn-outlined">Ver más <i style="margin-left: 8px;" class="fas fa-chevron-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end list-area -->

    </main>
    <!-- main-area-end -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>


</body>

</html>