<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "animals" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Detalles del animal</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item"> <a href="/animals">Animales</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Detalle</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- breeder-details-area -->
        <section class="breeder-details-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="breeder-details-content">
                            <% if(state){ %>
                                <div class="breeder-gallery-active">
                                    <% animal.animalImage.forEach(function(image) { %>


                                        <div class="breeder-gallery-item">
                                            <img src="https://nsandboxsoft.xyz/<%=image.ruta%>" alt=""
                                                onerror="this.src='img/images/no_image.png'">
                                        </div>

                                        <% }); %>

                                </div>
                                <% if(animal.animalImage.length===0){ %>
                                    <div class="breeder-gallery-item">
                                        <img src="https://nsandboxsoft.xyz/img/images/<%=animal.especie==="gato"?"no_image_cat.png":"no_image_dog.png"%>" alt=""
                                        onerror="this.src='img/images/no_image.png'">
                                    </div>
                                    <% }; %>
                                        <h4 class="title" style="margin-top: 15px;">
                                            <%=animal.nombre %>
                                        </h4>
                                        <p>
                                            <%=animal.caracteristicas??"No registra"%>
                                        </p>
                                        <div class="breeder-dog-info">
                                            <h5 class="title">Información del animal</h5>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Genero:</h6>
                                                        <span>
                                                            <%=animal.sexo%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Edad:</h6>
                                                        <input id="age-input" hidden
                                                            value="<%=animal.fecha_nacimiento%>" />
                                                        <span id="age">Meses (aprox)</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Color:</h6>
                                                        <span>
                                                            <%=animal.color%>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-md-3 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Tamaño:</h6>
                                                        <span>
                                                            <%=animal.tamanio%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Esterilizado:</h6>
                                                        <span>
                                                            <%=animal.esterilizado?"Si":"No"%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Desparasitado:</h6>
                                                        <span>
                                                            <%=animal.desparasitado?"Si":"No"%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Fecha de rescate:</h6>

                                                        <span>
                                                            <%=animal.fecha_rescate??"No registra"%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Sitio de rescate:</h6>
                                                        <span>
                                                            <%=animal.sitio_rescate??"No registra"%>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-4 col-6">
                                                    <div class="breeder-info-item">
                                                        <h6>Vacunas:</h6>
                                                        <span>
                                                            <%=animal.vacunas??"No registra"%>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="/animals/form/<%=animal.id_animal%>" class="btn">Adoptar <img
                                                    src="img/icon/w_pawprint.png" alt=""></a>
                                        </div>
                                        <% } else{ %>
                                            <p>
                                                <%=msg%>
                                            </p>
                                            <% } %>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside class="breeder-sidebar">
                            <div class="widget sidebar-newsletter">
                                <div class="sn-icon">
                                    <img src="img/images/banner-pasos-adopcion.webp" alt="">
                                </div>
                                <div class="sn-title">
                                    <h4 class="title">¿Tienes alguna duda?</h4>
                                    <p>Comunicate con nosotros al +57 313 6309884</p>
                                </div>

                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- breeder-details-area-end -->



        <!-- adoption-area -->
        <% if(state){ %>
            <section class="adoption-area-two pt-110 pb-110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="section-title text-center mb-65">
                            <div class="section-icon"><img src="img/icon/pawprint.png" alt=""></div>
                            <h5 class="sub-title">Conoce más peludos</h5>
                            <h2 class="title">Aún tenemos varios animales esperando</h2>
                            <p>Recuerda que todos los perros y gatos que son dados en adopción, tienen su esquema de
                                vacunación al
                                día, están desparasitados y algunos son esterilizados.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container custom-container">
                <div class="row adopt-active">

                    <% otherAnimals.forEach(function(animal) { %>
                        <div class="col-xl-3">
                            <div class="adoption-item">
                                <div class="adopt-thumb">
                                    <a href="/animals/detail/<%=animal.id_animal%>"><img src="https://nsandboxsoft.xyz/<%=animal.animalImage.length!==0?animal.animalImage[0].ruta:(animal.especie==="gato"?"img/images/no_cat_image.png":"img/images/no_dog_image.png")%>" alt="" onerror="this.src='img/images/no_image.png'"></a>
                    
                                </div>
                                <div class="adopt-content">
                                    <div class="adopt-date"  style="text-transform: capitalize;"><i class="fas fa-cog"></i>
                                        <%=animal.sexo%>
                                    </div>
                                    <h3 class="title" style="text-transform: capitalize;"><a href="/animals/detail/<%=animal.id_animal%>">
                                            <%=animal.nombre%>
                                        </a></h3>
                                    <p>
                                        <%=animal.caracteristicas%>. 
                                    </p>
                                    <a href="/animals/detail/<%=animal.id_animal%>" class="read-more">Leer más <img src="img/icon/pawprint.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                 
                </div>
            </div>
            </section>
        
            <% } %>
        <!-- adoption-area-end -->

    </main>
    <!-- main-area-end -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>

        <script>



            $(document).ready(function () {
                var age = calcularEdad($("#age-input").val())
                $("#age").html(age)

                $('#animal-detail-carousel').slick({
                    dots: true,
                    infinite: false,
                    speed: 300,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                        // You can unslick at a given breakpoint now by adding:
                        // settings: "unslick"
                        // instead of a settings object
                    ]
                });
            })

        </script>

</body>

</html>