<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "contact" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/bread2.png">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Contactanos</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Contactanos</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- contact-area -->
        <section class="contact-area pt-110 pb-80">
            <div class="container">
                <div class="container-inner-wrap">
                    <div class="row justify-content-center justify-content-lg-between">
                        <div class="col-lg-6 col-md-8 order-2 order-lg-0">
                            <div class="contact-title mb-20">
                                <h5 class="sub-title">Contactanos</h5>
                                <h2 class="title">¿Tienes alguna duda o quieres donar?</h2>
                            </div>
                            <div class="contact-wrap-content">
                                <p>Envíanos un mensaje si tienes alguna inquietud acerca de las adopciones, donaciones,
                                    los animales o los servicios que ofrecemos.También nos puedes escribir si necesitas ayuda con
                                    algún peludo que la esté pasando mal. No lo olvides, estamos para ayudar. Nos
                                    podremos en contacto contigo lo antes posible.</p>
                                <form class="contact-form needs-validation" novalidate>
                                    <div class="form-grp">
                                        <label for="name">Nombre <span>*</span></label>
                                        <input type="text" id="name" name="name" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Debe ingresar un nombre
                                        </div>
                                    </div>
                                    <div class="form-grp">
                                        <label for="email">Correo<span>*</span></label>
                                        <input type="email" id="email" name="email" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Debe ingresar un correo válido
                                        </div>
                                    </div>
                                    <div class="form-grp">
                                        <label for="phone">Teléfono <span>*</span></label>
                                        <input type="tel" id="phone" name="phone" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Debe ingresar un teléfono
                                        </div>
                                    </div>
                                    <div class="form-grp">
                                        <label for="message">Mensaje <span>*</span></label>
                                        <textarea name="message" id="message" placeholder="" required></textarea>
                                        <div class="invalid-feedback">
                                            Debe ingresar un mensaje
                                        </div>
                                    </div>
                                    <!-- <p>Poner captcha antismpan</p> -->
                                    <button type="submit" class="btn rounded-btn">Enviar <i id="load-more-icon"
                                            style="margin-left: 8px;display: none;"
                                            class="fa fa-spinner fa-spin"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-8">
                            <div class="contact-info-wrap">
                                <div class="contact-img">
                                    <img src="img/logo/imagotipo.png" alt="">
                                </div>
                                <div class="contact-info-list">
                                    <ul>
                                        <li>
                                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                            <div class="content">
                                                <p><%=foundation.direccion%></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                            <div class="content">
                                                <p><%=foundation.telefono%></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i class="fas fa-envelope-open"></i></div>
                                            <div class="content">
                                                <p><%=foundation.correo%></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="contact-social">
                                    <ul>
                                        <li><a href="https://web.facebook.com/fundamorcalarca/?_rdc=1&_rdr"
                                                target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="https://www.instagram.com/fundamorcalarca/?hl=es"
                                                target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCNkfxop_V7eirZh_qmgdWfA"
                                                target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-area-end -->

        <section class="adoption-area-two">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="section-title text-center mb-65">
                            <div class="section-icon"><img src="img/icon/pawprint.png" alt=""></div>
                            <h5 class="sub-title">Ubicanos en el mapa</h5>
                            <h2 class="title">Haz tu donación</h2>
                            <p>Puedes hacer donaciones de alimento, medicamentos, implementos de aseo para el refugio y
                                los peludos, cobijas, toallas,
                                etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <% if(foundation.url_mapa){ %>
            <div class="d-flex justify-content-center">
                <%-foundation.url_mapa%>"

            </div>
            <% } %>
        </section>

    </main>
    <!-- main-area-end -->



    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>

        <script>

            let loading = false;
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            event.preventDefault();
                            event.stopPropagation();
                            if (form.checkValidity() !== false) {

                                let form = $(this).serialize();

                                if (!loading) {
                                    submitForm(form)
                                }
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();


            function submitForm(form) {
                loading = true;
                $('#load-more-icon').css("display", "block");

                $.ajax({
                    method: "POST",
                    url: `/api/v2/contactmessage`,
                    data: form,

                }).done(function (res) {

                    if (res.state) {
                        Swal.fire({
                            title: 'Éxito',
                            text: res.message,
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then((result) => {
                            window.location.reload()
                        })
                    } else {

                        Swal.fire({
                            title: 'Error!',
                            text: res.message,
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        })
                    }

                }).fail(function () {
                    Swal.fire({
                        title: 'Error!',
                        text: 'No se ha podido enviar el mensaje, por favor intente mas tarde',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }).always(function () {
                    loading = false;
                    $('#load-more-icon').css("display", "none");

                });
            }

        </script>
</body>

</html>