<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "index" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- slider-area -->
        <section class="slider-area slider-style-two">
            <div class="slider-active">
                <div class="single-slider slider-bg d-flex align-items-center"
                    data-background="img/slider/cat_3.jpg">
                    <div class="container custom-container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-10">
                                <div class="slider-content">
                                    <div class="slider-title">
                                        <h2 class="title" data-animation="fadeInUpBig" data-delay=".2s"
                                            data-duration="1.2s">Tu tienes el lugar<span>ellos</span>el amor</h2>
                                    </div>
                                    <div class="slider-desc">
                                        <p class="desc" data-animation="fadeInUpBig" data-delay=".4s"
                                            data-duration="1.2s">
                                            No abandones la oportunidad de dar amor, adopta y da sentido a tu vida</p>
                                    </div>
                                    <a href="/animals" class="btn" data-animation="fadeInUpBig" data-delay=".6s"
                                        data-duration="1.2s">Conoce más <img src="img/icon/w_pawprint.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </section>
        <!-- slider-area-end -->

        <!-- find-area -->
        <div class="find-area">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <form action="#">
                            <div class="find-wrap">
                                <div class="location">
                                <i class="fas fa-user-tie"></i>
                                    <p>Puedes hacer mucho por los animales</p>
                                  
                                </div>
                                <div class="find-category">
                                    <ul>
                                        <li><a href="/animals?type=perro"><i class="flaticon-dog"></i>Adopta un perro</a></li>
                                        <li><a href="/animals?type=gato"><i class="flaticon-happy"></i> Adopta un gato</a></li>
                                        <li><a href="#donation"><i class="fas fa-hand-holding-medical"></i>Dona</a></li>
                                    </ul>
                                </div>
                                <div class="other-find">
                                <p>¡Ayudanos a ayudar!</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- find-area-end -->

        <!-- breeder-area -->
        <section class="breeder-area breeder-bg">
            <!-- <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-4 col-lg-8">
                        <div class="adoption-content">
                            <h2 class="title">Working For <br> Dog <span>Breeder</span> Free, Happy Time</h2>
                            <p>The best overall dog DNA test is embark breed & health Kit view at chewy which provides
                                you
                                with breed brown and
                                information.</p>
                            <a href="breeder.html" class="btn">Breeding <img src="img/icon/w_pawprint.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-9 col-md-12 col-sm-9">
                        <div class="breeder-info-wrap">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-md-6">
                                    <div class="breeder-active owl-carousel">
                                        <div class="breeder-item">
                                            <a href="breeder-details.html">
                                                <img src="img/images/breeder_img01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="breeder-item">
                                            <a href="breeder-details.html">
                                                <img src="img/images/breeder_img02.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="breeder-item">
                                            <a href="breeder-details.html">
                                                <img src="img/images/breeder_img03.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="breeder-item">
                                            <a href="breeder-details.html">
                                                <img src="img/images/breeder_img04.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="breeder-item">
                                            <a href="breeder-details.html">
                                                <img src="img/images/breeder_img05.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="breed-services-info" data-background="img/bg/breed_services_bg.jpg">
                                        <h5 class="sub-title">Dog Breeder</h5>
                                        <h3 class="title">Available for Breed</h3>
                                        <p>The best overall dog DNA test is Embark Breed & Health Kit (view at Chewy),
                                            which
                                            provid dogs</p>
                                        <a href="dog-list.html" class="btn">More Pets <img src="img/icon/w_pawprint.png"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="counter-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="counter-item">
                                <h2 class="count"><span class="odometer" data-count="400"></span>+</h2>
                                <p>Animales rescatados</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="counter-item">
                                <h2 class="count"><span class="odometer" data-count="259"></span>+</h2>
                                <p>Animales dados en adopción</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="counter-item">
                                <h2 class="count"><span class="odometer" data-count="39"></span>+</h2>
                                <p>Campañas de concientización</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="counter-item">
                                <h2 class="count"><span class="odometer" data-count="<%=years %>"></span></h2>
                                <p>Años de historia cuidando con amor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breeder-area-end -->

        <!-- adoption-area -->
        <section class="adoption-area-two pt-110 pb-110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="section-title text-center mb-65">
                            <div class="section-icon"><img src="img/icon/pawprint.png" alt=""></div>
                            <h5 class="sub-title">Conoce nuestros peludos</h5>
                            <h2 class="title">Ellos están esperando ser adoptados</h2>
                            <p>Recuerda que todos los perros y gatos que son dados en adopción, tienen su esquema de
                                vacunación al
                                día, están desparasitados y algunos son esterilizados.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container custom-container">
                    <div class="row adopt-active">
                        <% otherAnimals.forEach(function(animal) { %>
                            <div class="col-xl-3">
                                <div class="adoption-item">
                                    <div class="adopt-thumb">
                                        <a href="/animals/detail/<%=animal.id_animal%>"><img src="http://localhost:4000/<%=animal.animalImage.length!==0?animal.animalImage[0].ruta:(animal.especie==="gato"?"img/images/no_cat_image.png":"img/images/no_dog_image.png")%>" alt="" onerror="this.src='img/images/no_image.png'"></a>
                    
                                    </div>
                                    <div class="adopt-content">
                                        <div class="adopt-date" style="text-transform: capitalize;"><i class="fas fa-cog"></i>
                                            <%=animal.sexo%>
                                        </div>
                                        <h3 class="title" style="text-transform: capitalize;"><a
                                                href="/animals/detail/<%=animal.id_animal%>">
                                                <%=animal.nombre%>
                                            </a></h3>
                                        <p>
                                            <%=animal.caracteristicas%>.
                                        </p>
                                        <a href="/animals/detail/<%=animal.id_animal%>" class="read-more">Leer más <img
                                                src="img/icon/pawprint.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    
                    </div>
            </div>
        </section>
        <!-- adoption-area-end -->

        <!-- faq-area -->
        <section class="faq-area faq-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="faq-img-wrap">
                            <img src="img/images/faq_tv.png" class="img-frame" alt="">
                            <!-- <img src="img/images/preview-video.webp" class="main-img" alt=""> -->
                            <%
                            getVideoId = function getId(url) {
                                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                                var match = url.match(regExp);
                                if (match && match[2].length == 11) {
                                    return match[2];
                                } else {
                                    return 'videoIdNotFound';
                                }
                            }
                            %>
                            
                            <img src="https://img.youtube.com/vi/<%=getVideoId(foundation.url_video)%>/hqdefault.jpg" class="main-img" alt="">
                            <a href="<%=foundation.url_video %>" class="popup-video"></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-wrapper">
                            <div class="section-title mb-35">
                                <h5 class="sub-title">Acerca de la fundación</h5>
                                <h2 class="title">Historia y futuro</h2>
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                Misión
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                        <% for (const line of foundation.mision.split("\n")) { %>
                                            <%= line %><br/>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Visión
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <% for (const line of foundation.vision.split("\n")) { %>
                                                <%= line %><br/>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-shape"><img src="img/images/faq_shape.png" alt=""></div>
        </section>
        <!-- faq-area-end -->

        <!-- brand-area -->
        <div class="brand-area pt-80 pb-80">
            <div class="container">
                <div class="row brand-active">
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="img/brand/brand_item01.png" alt="img">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="img/brand/brand_item02.png" alt="img">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="img/brand/brand_item03.png" alt="img">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="img/brand/brand_item04.png" alt="img">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="img/brand/brand_item05.png" alt="img">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="img/brand/brand_item06.png" alt="img">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="brand-item">
                            <img src="img/brand/brand_item03.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand-area-end -->

        <!-- blog-area -->
        <section class="blog-area pt-110 pb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="section-title text-center mb-65">
                            <div class="section-icon"><img src="img/icon/pawprint.png" alt=""></div>
                            <h5 class="sub-title">Informate</h5>
                            <h2 class="title">Publicaciones recientes</h2>
                            <p>Conoce las campañas y noticias mas recientes que hemos publicado </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <% recentPost.forEach(function(post) { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-post-item mb-50">
                            <div class="blog-post-thumb">
                                <a href="/post/detail/<%=post.id_publicacion%>">
                                    <img src="<%=post.postImage.length===0?" img/images/no_image.png":("http://localhost:4000/"+post.postImage[0].ruta)%>"onerror="this.src='img/images/no_image.png'" alt=""></a>
                                </a>
                           
                            </div>
                            <div class="blog-post-content">
                                <div class="blog-post-meta">
                                    <ul>
                                        <li><i class="far fa-calendar"></i> <%= new Date(post.fecha_creacion).toLocaleDateString()%></li>
                                    </ul>
                                </div>
                                <h3 class="title"><a href="/post/detail/<%=post.id_publicacion%>"><%=post.titulo%></a></h3>
                                <p><%=post.cuerpo%></p>
                                <a href="/post/detail/<%=post.id_publicacion%>" class="read-more">Leer más<img src="img/icon/pawprint.png"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                <%})%>
                </div>
            </div>
        </section>
        <!-- blog-area-end -->

        <!-- newsletter-area -->
        <div class="newsletter-area pb-110" id="donation">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-wrap">
                            <div class="newsletter-content">
                                <h2 class="title">Haz tu donación</h2>
                            </div>
                            <div class="newsletter-form">
                                <p> 
                                <% for (const line of foundation.cuenta_donaciones.split("\n")) { %>
                                    <%= line %><br/>
                                <% } %>
                            </p>
                            </div>
                            <div class="newsletter-shape"><img src="img/images/newsletter_shape01.png" alt=""></div>
                            <div class="newsletter-shape shape-two"><img src="img/images/newsletter_shape02.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- newsletter-area-end -->

    </main>
    <!-- main-area-end -->


    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    
    <!-- JS here -->
    <%- include('../partials/libraries'); %>
    


</body>

</html>