<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header',{ placement: "post" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Publicaciones</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Publicaciones</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- blog-area -->
        <section class="standard-blog-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="standard-blog-item">
                            <div class="standard-blog-thumb">
                                <a href="/post/detail/-id_post-"><img src="img/blog/blog_thumb01.jpg" alt=""></a>
                            </div>
                            <div class="standard-blog-content">
                                <div class="blog-post-meta">
                                    <ul>

                                        <li><i class="far fa-user"></i>Admin</li>
                                        <li><i class="far fa-bell"></i> Mar 10, 2021</li>
                                    </ul>
                                </div>
                                <h2 class="title"><a href="/post/detail/-id_post-">Online pet everything your pet
                                        needs</a>
                                </h2>
                                <p>The domestic dog is a domesticated descendant of the wolf. The dog derived from an
                                    ancient, extinct wolf, and the modern grey wolf is the dog's nearest living
                                    relative.
                                    The dog was the first species to be domesticated, by hunter–gatherers.</p>
                                <a href="/post/detail/-id_post-" class="read-more">Leer más <img
                                        src="img/icon/pawprint.png" alt=""></a>
                            </div>
                        </div>

                        <div class="shop-pagination">
                            <ul>
                                <li><a href="shop.html"><i class="fas fa-angle-double-left"></i></a></li>

                                <li class="active"><a href="shop.html">1</a></li>
                                <li><a href="shop.html">2</a></li>
                                <li><a href="shop.html"><i class="fas fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8">
                        <aside class="blog-sidebar">
                            <div class="widget">
                                <h4 class="sidebar-title">Busca</h4>
                                <div class="sidebar-search">
                                    <form action="#">
                                        <input type="text" placeholder="Ingresa el título">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <% if(state){ %>
                                <div class="widget">
                                    <h4 class="sidebar-title">Publicaciones recientes</h4>
                                    <div class="rc-post-list">
                                        <ul>
                                            <% recentPost.forEach(function(post) { %>

                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="/post/detail/<%= post.titulo%>">
                                                            <img src="<%=post.postImage.length===0?"img/images/no_image.png":("http://localhost:4000/"+post.postImage[0]) %>" onerror="this.src='img/images/no_image.png'" alt=""></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h5 class="title"><a href="/post/detail/ <%= post.id_publicacion%>">
                                                                <%= post.titulo%>
                                                            </a></h5>
                                                        <div class="rc-post-meta">
                                                            <ul>
                                                                <li><i class="far fa-calendar-alt"></i><%= new Date(post.fecha_creacion).toLocaleDateString()%>
                                                                </li>
                                                                <li><a href="#">Leer más</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <% }); %>
                                        </ul>
                                    </div>
                                </div>

                                <% } %>

                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area-end -->

    </main>
    <!-- main-area-end -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>

</body>

</html>