<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header',{ placement: "post" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Publicaciones</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Publicaciones</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- blog-area -->
        <section class="standard-blog-area" id="blog-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8" id="post-list-content">

                   
                       
                    </div>
                
                    <div class="col-lg-4 col-md-8">
                        <aside class="blog-sidebar">
                            <div class="widget">
                                <h4 class="sidebar-title">Busca</h4>
                                <div class="sidebar-search">
                                    <form class="submit-controlled">
                                        <input type="text" id="search-field" placeholder="Ingresa el título">
                                        <button type="submit"><i id="searching" class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <% if(state){ %>
                                <div class="widget">
                                    <h4 class="sidebar-title">Publicaciones recientes</h4>
                                    <div class="rc-post-list">
                                        <ul>
                                            <% recentPost.forEach(function(post) { %>

                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="/post/detail/<%= post.id_publicacion%>">
                                                            <img src="<%=post.postImage.length===0?"img/images/no_image.png":("http://localhost:4000/"+post.postImage[0].ruta) %>" onerror="this.src='img/images/no_image.png'" alt=""></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h5 class="title"><a href="/post/detail/<%= post.id_publicacion%>">
                                                                <%= post.titulo%>
                                                            </a></h5>
                                                        <div class="rc-post-meta">
                                                            <ul>
                                                                <li><i class="far fa-calendar-alt"></i><%= new Date(post.fecha_creacion).toLocaleDateString()%>
                                                                </li>
                                                                <li><a href="/post/detail/<%=post.id_publicacion%>">Leer más</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <% }); %>
                                        </ul>
                                    </div>
                                </div>

                                <% } %>

                        </aside>
                    </div>
                </div>
                <div class="row justify-content-flex-start mt-45">
                    <div class="col-lg-8">
                        <div class="shop-pagination">
                            <ul>
                                <li><a onclick="handleLoadData(event,'previous')" href="#"><i class="fas fa-angle-double-left"></i></a>
                                </li>
                                <div class="pages" id="pages">
                
                                </div>
                                <li><a href="#" onclick="handleLoadData(event,'next')"><i class="fas fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area-end -->

    </main>
    <!-- main-area-end -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>


    <script>



        var postPerPage = 3;
        var currentPage = 0;
        var totalData = null;
        var loadingRequest = true;
        var search = "";


        $(document).ready(function () {

            currentPage += 1;
            loadData(true);

        });

        function handleSearch() {
            if (!loadingRequest) {
                $("#searching").removeClass("fa fa-search");
                $("#searching").addClass("fa fa-spinner fa-spin");

                search = $("#search-field").val();
                currentPage = 1;
       
                loadData()
            }
        }

    

        function handleLoadData(event, value) {
            event.preventDefault();
            if (totalData) {

                if(value==="next"){

                    if (currentPage < Math.ceil(totalData/postPerPage)) {
                        currentPage++;
                         loadData()
                    }

                }else if(value==="previous"){

                    if(currentPage>1){
                        currentPage--;
                         loadData()
                    }

                }else{
                    currentPage = parseInt(value);
                
                   loadData()
                }
               
            } 

        }


        function toggleLoading() {
            $("#load-more-icon").toggleClass("fa fa-spinner fa-spin");
        }

        function loadData() {

            toggleLoading()
            loadingRequest = true;
            $.ajax({
                method: "GET",
                url: `/api/v2/post?min=${currentPage * postPerPage - postPerPage}&max=${postPerPage}&search=${search}`,

            }).done(function (res) {
                if (res.state) {
                    var data = res.data.rows;
                    totalData = res.data.count;
                   
                
                    let htmlPage = ``;
                    data.forEach(post => {
                        htmlPage += `
                                <div class="standard-blog-item">
                            <div class="standard-blog-thumb">
                                <a href="/post/detail/${post.id_publicacio}">
                                    <img src="${post.postImage.length===0?" img/images/no_image.png":("http://localhost:4000/"+post.postImage[0].ruta) }"
                                                            onerror="this.src='img/images/no_image.png'" alt=""></a>
                                </a>
                            </div>
                            <div class="standard-blog-content">
                                <div class="blog-post-meta">
                                    <ul>

                                        <li><i class="far fa-user"></i>Admin</li>
                                        <li><i class="far fa-bell"></i>${new Date(post.fecha_creacion).toLocaleDateString()}</li>
                                    </ul>
                                </div>
                                <h2 class="title"><a href="/post/detail/${post.id_publicacion}">${post.titulo}</a>
                                </h2>
                                <p class="body">${post.cuerpo}</p>
                                <a href="/post/detail/${post.id_publicacion}" class="read-more">Leer más <img
                                        src="img/icon/pawprint.png" alt=""></a>
                            </div>
                        </div>
                                `;
                    });

                    if ($("#search-field").val() !== "" && totalData===0) {
                       htmlPage += `
                     <div>
                        <p>La busqueda no arrojó ningún resultado...</p>
                    </div>
                    `
                    }

                  
                   
                    $('#post-list-content').html(htmlPage);

                    let pageNumber=Math.ceil(totalData/postPerPage);
                    let htmlPages=``;
                    for (let index = 0; index < pageNumber; index++) {
                        htmlPages+=`<li class="${index +1===currentPage?"active":""}"><a href="#" onclick='handleLoadData(event,${index+1})'>${index + 1}</a></li>`;
                        
                    }
                    $('html, body').animate({
                        scrollTop: $("#blog-area").offset().top
                    }, 800);
                    $('#pages').html(htmlPages)
                 



                } else {
                    currentPage -= 1;
                    Swal.fire({
                        title: 'Error!',
                        text: 'No se ha podido obtener la lista de animales',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }

            }).fail(function () {
                currentPage -= 1;

                Swal.fire({
                    title: 'Error!',
                    text: 'No se ha podido obtener la lista de animales',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            }).always(function () {
                $("#searching").removeClass("fa fa-spinner fa-spin");
                $("#searching").addClass("fa fa-search");

                loadingRequest = false;
            });
        }
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('submit-controlled');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        handleSearch()
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>