<!DOCTYPE html>
<html lang="en">

<head>

    <meta property="og:title" content="<%=post.titulo%>" />
    <!-- <meta property="og:type" content="video.movie" /> -->
    <meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <img src="img/preloader.gif" alt="">
    </div>
    <!-- Preloader-end -->

    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <%- include('../partials/header', { placement: "post" }); %>
    </header>

    <!-- main-area -->
    <main>

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Detalles de la publicaci칩n</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item "><a href="/post">Publicaciones</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Detalle
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- blog-details-area -->
        <section class="blog-details-area">
            <div class="container">
                <% if(state){ %>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="standard-blog-item mb-50">
                               <div class="breeder-gallery-active">
                                    <% post.postImage.forEach(function(image) { %>


                                        <div class="breeder-gallery-item">
                                            <img src="http://localhost:4000/<%=image.ruta%>" alt=""
                                            onerror="this.onerror=null; this.src='img/images/no_image.png'">
                                        </div>

                                        <% }); %>

                                </div>
                         
                                <% if(post.postImage.length===0){ %>
                                    <div class="standard-blog-thumb">
                                        <img src="null" alt="">
                                    </div>
                                    <% }; %>
                            <div class="standard-blog-content blog-details-content" style="margin-top: 15px;">
                                <div class="blog-post-meta">
                                    <ul>
                                        <li><i class="far fa-calendar"></i> <%=new Date(post.fecha_creacion).toLocaleDateString()%></li>
                                    </ul>
                                </div>
                                <h4 class="title"><%=post.titulo%></h4>

                                <p class="expanded"><%=post.cuerpo%>

                                </p>
                                <div class="blog-line" data-background="img/blog/blog_item_line.png"></div>
                                <div class="blog-details-bottom">

                                    <div class="blog-details-social">
                                        <ul id="share">
                                            <li class="title"><i class="fas fa-share-alt"
                                                    style="margin-right: 8px;"></i>Compartir con:</li>

                                      
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="blog-next-prev">
                            <ul>
                                <li class="blog-prev">
                                    <a href="#"><img src="img/icon/left_arrow.png" alt="img">Anterior Publicaci칩n</a>
                                </li>
                                <li class="blog-next">
                                    <a href="#">Siguiente Publicaci칩n<img src="img/icon/right_arrow.png" alt="img"></a>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                    <div class="col-lg-4">
                        <aside class="blog-sidebar">
               
                        <% if(state){ %>
                            <div class="widget">
                                <h4 class="sidebar-title">Publicaciones recientes</h4>
                                <div class="rc-post-list">
                                    <ul>
                                        <%recentPost.forEach(function(post) { %>
                        
                                            <li>
                                                <!-- <div class="rc-post-thumb">
                                                    <% if(post.postImage[0]){ %>
                                                    <a href="/post/detail/<%=post.id_publicacion%>">
                                                            <img src="http://localhost:4000/<%=post.postImage[0].ruta%>" alt=""
                                                            onerror="this.onerror=null; this.src='img/images/no_image.png'">
                                                            <% } %>
                                                </div> -->
                                                
                                                <div class="rc-post-content">
                                                    <h5 class="title"><a href="/post/detail/<%= post.id_publicacion%>">
                                                            <%= post.titulo%>
                                                        </a></h5>
                                                    <div class="rc-post-meta">
                                                        <ul>
                                                            <li><i class="far fa-calendar-alt"></i>
                                                                <%= new Date(post.fecha_creacion).toLocaleDateString()%>
                                                            </li>
                                                            <li><a href="/post/detail/<%=post.id_publicacion%>">Leer m치s</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                        <% } %>
                        </aside>
                    </div>
                </div>
                <% } else{ %>
                    <p>
                        <%=msg%>
                    </p>
                    <% } %>
            </div>
        </section>
        <!-- blog-details-area-end -->

    </main>
    <!-- main-area-end -->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <!-- JS here -->
    <%- include('../partials/libraries'); %>


    <script>


        var url = encodeURIComponent(window.location.href);
        var tweet = encodeURIComponent($('#tweet').val());
        var title = encodeURIComponent($('#title').val());
        var summary = encodeURIComponent($('#summary').val());

        var hashtags = "fundamor";
        hashtags = hashtags.replace(/\s+/g, '');
        hashtags = hashtags.replace(/#/g, '');
        hashtags = encodeURIComponent(hashtags);
        hashtags = hashtags.replace(/%2C/g, ',');

        facebook = '<li> <a href="https://www.facebook.com/sharer.php?u=' + url + '"><i style="background:#0056b3;" class="fab fa-facebook-f"></i></a></li>';

        twitter = '<li><a href="https://twitter.com/intent/tweet?url=' + url;
        if (tweet != "") { twitter += '&text=' + tweet };
        if (hashtags != "") { twitter += '&hashtags=' + hashtags };
        twitter += '"><i style="background:#0091e5;" class="fab fa-twitter"></i></a></li>';

        linkedin = '<li><a href="https://www.linkedin.com/sharing/share-offsite/&url=' + url + '&title=' + title + '&summary=' + summary + '">Share on LinkedIn</a></li>';
        linkedin = '<li><a href="https://www.linkedin.com/sharing/share-offsite/&url=' + url;
        if (title != "") { linkedin += '&title=' + title };
        if (summary != "") { linkedin += '&summary=' + summary };
        linkedin += '"><i class="fab fa-linkedin-in"></i></a></li>';

        $(document).ready(function () {

            $("#share").append(`${facebook} ${twitter} ${linkedin}`);
  
        });
    </script>
</body>

</html>